*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family : sans-serif;
}

body{
  /* background-color: rgb(19, 19, 21); */
  background-color: #212529;
  color: white;
}

body::-webkit-scrollbar {
  display: none;
}


.nav_bar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
  padding: 10px;
}

.search_bar{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 20px;
  padding: 10px;
  width: 30%;
  border: none;
}

.search_bar input {
  border: none;
  background-color: black;
  color: white;
  width: 400px;
  outline: none;
}

.search_bar input::placeholder{
  color: white;
}

.subBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  height: 50px;
  background-color: black(37, 37, 37);
  padding: 10px;
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

.subBar .items{
  font-weight: bold;
  padding: 10px;
}

.subBar .items:hover{
  height: auto;
  background-color: rgb(55, 55, 55);
  border-radius: 10px;
  color: whitesmoke;
  cursor: pointer;
}